[submodule "e-school-service-repository-es"]
	path = e-school-service-repository-es
	url = https://github.com/WeisonWei/e-school-service-repository-es.git
[submodule "e-school-service-repository-redis"]
	path = e-school-service-repository-redis
	url = https://github.com/WeisonWei/e-school-service-repository-redis.git
[submodule "e-school-service-repository-mongo"]
	path = e-school-service-repository-mongo
	url = https://github.com/WeisonWei/e-school-service-repository-mongo.git
[submodule "e-school-service-repository-es-jpa"]
	path = e-school-service-repository-es-jpa
	url = https://github.com/WeisonWei/e-school-service-repository-es-jpa.git
